.covidDash-wrapper {
	max-width: 1040px;
	/*width: 80%;*/
	display: block;
	padding: 10px;
	box-sizing: border-box;
	margin: 0 auto;
	overflow: hidden;
}
.covidDash-wrapper .dashboard-header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.covidDash-wrapper .dashboard-title {
	font-family: 'Rubik', sans-serif;
	font-size: 51px;
	line-height: 49px;
	font-weight: 400;
}
.covidDash-wrapper .dashboard-header figure, .deathdata figure, 
.recoverdata figure {
	margin: 0;
}
.covidDash-wrapper .dashboard-header figure img, .deathdata figure img, 
.recoverdata figure img {
	max-width: 100%;
}
.covidDash-wrapper .total-affected {
	text-align: center;
	margin: 45px 0;
}
.covidDash-wrapper .total-affected h1#totAffected {
	font-family: 'Rubik', sans-serif;
	font-size: 193px;
	line-height: 193px;
	/*line-height: 236px;*/
	font-weight: 400;
	margin: 0 auto;
}
.covidDash-wrapper .total-affected p {
	font-family: 'Rubik', sans-serif;
	font-size: 28px;
	line-height: 33px;
	font-weight: 300;
	margin: 0 auto;
}
.deathdata, .recoverdata {
	display: flex;
	justify-content: center;
	align-items: center;
}
.deaths-recoverData {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.deathdata {
	background: #1d1d1b
}

.recoverdata {
	background: #f5f5f5;
}
.deathdata {
	color: #fff;
}
.deathdata h2, .recoverdata h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 46px;
	line-height: 55px;
	font-weight: 300;
	margin: 0 auto;
}
.deathdata h1, .recoverdata h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 92px;
	line-height: 110px;
	font-weight: 300;
	margin: 0 auto;
}
.deathdata, .recoverdata {
	padding: 15px 30px;
	margin: 5px;
	box-sizing: border-box;
	border-radius: 6%;
}
.barchart {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	margin: 45px 0;
}
.barchart .mildCondition {
	color: #f8b133;
}
.barchart .criticalCondition {
	color: #e20613;
}
.totalData {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.countrywiseData {
	display: flex;
	justify-content: space-between;
}
.dangerData, .totalandNew {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.topCounts, .downCounts {
	display: flex;
	justify-content: center;
	align-items: center;
}
.totalandNew {
	background: #ececec;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 6%;
}
.dangerData {
	margin: 25px 0;
}
.dangerData figure {
	margin: 0;
}
.topCounts h2, .downCounts h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	margin: 0 auto;
}
.topCounts h1, .downCounts h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 91px;
	line-height: 108px;
	font-weight: 400;
	margin: 0 auto;
}
/*.barchart .left-chart img {
	width: 900px;
}*/
.barchart .totalData div {
	margin: 15px;
}
.barchart .totalData h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 27px;
	line-height: 32px;
	font-weight: 300;
	margin: 0 auto;
}
.barchart .totalData h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 61px;
	line-height: 74px;
	font-weight: 700;
	margin: 0 auto;
}
.barchart .right-chart h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 27px;
	line-height: 32px;
	font-weight: 300;
	margin: 0 auto;
}
.barchart .right-chart {
	padding-left: 15px;
	box-sizing: border-box;
}
.barchart .right-chart p {
	font-family: 'Rubik', sans-serif;
	font-size: 61px;
	line-height: 74px;
	font-weight: 700;
	margin: 0 auto;
}
.world-impact h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 46px;
	line-height: 55px;
	font-weight: 400;
	margin: 0 auto;
}
.world-impact p {
	font-family: 'Rubik', sans-serif;
	font-size: 23px;
	line-height: 27px;
	font-weight: 400;
	color: #9c9b9b;
	margin: 0 auto;
}
.countrywiseData h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	color: #e20613;
	margin: 0 auto;
}
.countrywiseData h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 91px;
	line-height: 108px;
	font-weight: 400;
	/*color: #e20613;*/
	margin: 0 auto;
}
.countrywiseData .country h1 {
	font-size: 48px;
	line-height: 57px;
}
.countrywiseData .newCases h2, .countrywiseData .newCases h1 {
	color: #f29100 !important;
}
.country {
    stroke: #000000;
    stroke-width: 0.2;
}

.country:hover {
    fill: #000000;
}

.maptooltip{
	background-color: #000;
	color: #FFFFFF;
	position: absolute;
	padding: 5px 10px;
	box-sizing: border-box;
	transition: all 0.2s;
	display: none;
}


.horstackchart div{
	display: inline-block;
    line-height: 75px;
	font-size: 38px;
	font-family: 'Rubik', sans-serif;
}
.horstackchart .bar100{
	background-color: #f8b133;
    width: 100%;
    height: 75px;
	border-radius: 15px;
	text-align: right;
}
.horstackchart #barcritical{
	height: 100%;
    width: 20%;
    background-color: #e20613;
	border-radius: 15px;
	text-align: center;
	
}
